.header-top {
	background: #830b2c;
}
#main-menu ul li a:hover {
	background: #830b2c;
}
#main-menu .dropdown-menu a:hover {
	background: #830b2c;
}
.bloq-search input[type="text"] {
	border: 1px solid #830b2c;
}
.bloq-search input[type="submit"] {
	background: #830b2c;
}
.google-maps .filter {
	background: #830b2c;
}
.section-title:before {
	background-color: #830b2c;
}
.section-title h2 {
	color: #830b2c;
}
.recently .homes-content .homes-list li {
	color: #830b2c;
}
.recently .homes-content .homes-list li i {
	color: #830b2c;
}
.first-footer .bloq-email .email input[type="submit"] {
	background: #830b2c;
}
#navigation.style-1 .current {
    color: #830b2c;
}
#navigation.style-1 ul li:hover {
    background: #830b2c;
}
.twitter-widget.contuct .twitter-area .text h5 a {
	color: #830b2c;
}
.first-footer .contactus ul li .fa {
    color: #830b2c;
}
.first-footer .newsletters h3::after {
    background: #830b2c;
}
a.button.border, a.button {
    background: #830b2c;
}
.slick-prev:hover,
.slick-next:hover {
    color: transparent;
    outline: none;
    background: #830b2c;
}
.welcome-title h2 span,
.welcome-title h2 span {
	color: #830b2c;
}
.welcome .popup-youtube {
	color: #830b2c;
}
.welcome .wprt-image-video .iq-waves .waves {
	background: rgb(24, 186, 96) none repeat scroll 0 0 padding-box;
}
.services-home .bg-base {
	background: #830b2c;
}
.services-home a.text-base {
	color: #830b2c;
}
.portfolio .homes-content .homes-list li {
	color: #830b2c;
}
.portfolio .homes-content .homes-list li i {
	color: #830b2c;
}
.top-location .owl-theme .owl-nav [class*=owl-] {
	background: #830b2c;
}
.blog-section .news-item a:hover h3 {
	color: #830b2c;
}
.blog-section .news-link {
	color: #830b2c;
}
.testimonials .test-1 p::before {
	color: #830b2c;
}
.testimonials .test-1 h3 {
	color: #830b2c;
}
.owl-dot.active {
	background: #830b2c !important;
}
.counterup .countr .fa {
	color: #830b2c;
}
.realhome_subscribe input {
	border-color: #830b2c;
}
.realhome_form_subscribe button {
	background: #830b2c;
	border: 2px solid #830b2c;
}
.first-footer .netabout h3::after,
.first-footer .navigation h3::after,
.first-footer .widget h3::after,
.first-footer .contactus h3::after {
	background-color: #830b2c;
}
.first-footer .btn {
	background: #830b2c;
}
.first-footer .btn:hover {
	background: transparent;
}
.navigation ul li a:hover {
	color: #830b2c;
}
.twitter-widget.contuct .twitter-area .icon-holder i {
	color: #830b2c;
}
.twitter-widget.contuct .twitter-area .text h4,
.inner-pages .twitter-widget.contuct .twitter-area .text h4 {
	color: #830b2c;
}
.second-footer {
	background: #830b2c;
}
.go-up {
	background: #830b2c;
}
.main-search-field {
	background: #830b2c;
}
.btn-default.btn-theme-colored2:hover {
	background: #830b2c;
}
.text-theme-colored2 {
	color: #830b2c !important;
}
.btn-dark.btn-theme-colored {
	background-color: #830b2c;
}
.parallax-search .form-group .nice-select:hover {
	color: #830b2c;
}
.parallax-search .form-group .nice-select i {
	color: #830b2c;
}
.parallax-search .form-group .list li:hover {
	background: #830b2c;
}
.parallax-search .form-group .btn {
	background: #830b2c;
}
.inner-pages .blog .active-view-btn:hover {
	background: #830b2c !important;
}
.inner-pages .change-view-btn:hover {
	color: #830b2c !important;
}
.inner-pages .blog .block-heading .change-view-btn.lde:hover {
	background: #830b2c;
}
.inner-pages .blog .section-heading .media .media-left i {
	background: #830b2c;
}
.inner-pages .blog .main-search-field select {
	background: #830b2c;
}
.inner-pages .blog .at-input {
	border: 2px solid #830b2c;
}
.inner-pages .blog .ui-widget.ui-widget-content {
	background: #830b2c;
}
.inner-pages .blog .hvr-bounce-to-right {
	background: #830b2c;
}
.inner-pages .widget h5::after {
	background-color: #830b2c;
}
.inner-pages .portfolio .footer i {
	color: #830b2c;
}
.inner-pages .recent-post .tags a:hover {
	color: #830b2c;
	border-color: #830b2c;
}
.page-item.active .page-link {
    background: #830b2c;
    border-color: #830b2c;
}
.page-link {
    color: #830b2c;
}
.inner-pages .blog .homes-content.details-2 .fa {
	color: #830b2c;
}
.inner-pages .blog .sorting-options h5 {
	color: #830b2c;
}
.inner-pages .blog .homes-content h5::after,
.inner-pages .blog .blog-info.details h5::after,
.inner-pages .blog .property-location h5::after,
.inner-pages .blog .team.assigned h5::after {
	color: #830b2c;
	background-color: #830b2c;
}
.inner-pages .blog .homes-content.details .fa {
	color: #830b2c;
}
.inner-pages .button.alt {
	background-color: #830b2c;
}
.inner-pages .agent-details a:hover {
	color: #830b2c;
}
.inner-pages .agent-details .fa {
	color: #830b2c;
}
.inner-pages .about-us .who-1 h2 span {
	color: #830b2c;
}
.inner-pages .about-us .wprt-image-video .icon-wrap {
	background-color: #830b2c;
}
.bg-2 .button {
    border-color: #830b2c;
}
.inner-pages .panel .panel-heading a {
	background: #830b2c;
}
.plan-price {
	background: #830b2c;
}
.plan-price:after {
	border-top-color: #830b2c;
}
.plan a.btn {
	background: #830b2c;
}
.inner-pages .top-headings h2 {
	color: #830b2c;
}
.inner-pages .port-info .btn {
	background: #fa2964;
	border: 1px solid #830b2c;
}
#login .btn_1, a.btn_1 {
    background: #830b2c;
}
.inner-pages .blog .social .date {
	background-color: #830b2c;
}
.blog-pots figure {
	background: #830b2c;
}
.blog .blog-pots .fa {
	color: #830b2c;
}
.btn-secondary {
	background: #830b2c;
}
.single-blog-post .img-box .overlay {
	background: rgba(24, 186, 96, 0.8);
}
.inner-pages .form-control {
	border: 1px solid #830b2c;
}
.inner-pages .input-group-btn .btn-primary {
	background: #830b2c;
	border: 1px solid #830b2c;
}
.inner-pages .input-group-btn .btn-primary:hover {
	color: #830b2c;
}
.inner-pages .comments-info h5 {
	color: #830b2c;
}
.inner-pages .comments h3::after,
.inner-pages .leve-comments h3::after {
	background-color: #830b2c;
}
.inner-pages .leve-comments .btn {
	background: #830b2c;
	border: 1px solid #830b2c;
}
.inner-pages .leve-comments .btn:hover {
	border: 1px solid #830b2c;
}
.inner-pages .contact-us .btn {
	background: #830b2c;
	border: 1px solid #830b2c;
}
.inner-pages .contact-us .btn:hover {
	border: 1px solid #830b2c;
}
.inner-pages .call-info h3::after {
	background-color: #830b2c;
}
.inner-pages .call-info ul li .fa {
	color: #830b2c;
}
.inner-pages .single-add-property > h3 {
	color: #830b2c;
}
.inner-pages .prperty-submit-button > button {
	background: #830b2c none repeat scroll 0 0;
}
.leaflet-div-icon, .map-marker {
	background-color: #830b2c;
	border: 5px solid #830b2c;
}
.leaflet-div-icon:before, .map-marker:before {
	border-top-color: #830b2c;
}
.listing-window-image:before {
	background-color: #830b2c;
}
.listing-window-content h3 {
	background-color: #830b2c;
}
/*------ BUTTOM HOVER EFFECT ------*/
.bg-all {
    position: relative;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    margin-top: 1.7rem;
    transition: all .3s ease;
}
@media screen and (max-width: 767px) {
    .bg-all {
        margin-top: 10px !important;
    }
}
.btn.btn-outline-light {
    background-color: #830b2c;
    color: #fff;
    border-color: #fff;
    font-size: 16px;
    font-weight: bold;
	border-radius: 3rem;
	padding: .9rem 2.5rem .9rem 2rem;
    transition: all .3s ease;
}
.btn.btn-outline-light:hover {
    background: $secondcolor;
    color: #fff;
    transition: all .3s ease;
}
.btn.btn-outline-light:after {
	content: '\f0a9';
	font-family: 'FontAwesome';
	position: relative;
	left: .5rem;
	transition: all .2s ease;
}
.btn.btn-outline-light:hover:after {
	left: 1rem;
    color: #fff;
	transform: rotateZ(-360deg);
}
section.pricing-table {
	padding: 6rem 0;
	background: #fff;
}
.blog-section .action-list .fa-comment {
    color: #830b2c;
}
.blog-section .action-list .fa-share-alt {
    color: #830b2c;
}
.blog-section .action-list .fa-heart {
    color: #830b2c;
}
.section-title:before {
    background-color: #830b2c;
}
.info-help .info-head .info-text .btn-pro {
    background: #830b2c;
}
.slick-dots li.slick-active {
    box-shadow: inset 0 0 0 6px #830b2c;
}
.slick-dots li {
    color: #830b2c;
    box-shadow: inset 0 0 0 2px #830b2c;
}
.slick-dots li:after {
    background-color: #830b2c;
}
.newsletters p, 
.first-footer .netabout p {
    color: rgba(245, 255, 255, 0.8);
}
.first-footer .contactus .info p {
    color: rgba(245, 255, 255, 0.8);
}
.first-footer .contactus ul li .fa, .first-footer h3, .navigation ul li a, .twitter-widget.contuct .twitter-area .icon-holder i, .twitter-widget.contuct .twitter-area .text h5 {
    color: #fff;
}
.first-footer .bloq-email .email input[type="email"] {
    border: 1px solid #830b2c;
    background: #282d32;
    color: #fff;
}
.second-footer p {
    color: rgba(245, 255, 255, 0.8);
}
.second-footer p .fa-heart:before {
    color: #830b2c;
}
.ui-widget-header {
    background: #830b2c;
}
.google-maps .filter .button {
    background: #830b2c;
}
.portfolio .homes-content h3 a:hover {
    color:  #830b2c;
}
@media screen and (max-width: 767px) {
    .ui-widget-header,
    .google-maps .filter .button {
        background: #000;
    }
}